<!DOCTYPE html>

<html lang="en" ng-app="myApp">

<head>
  <title>Angular Sample 01</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
  <link type="text/css" rel="stylesheet" href="css/app.css" />
</head>

<body>
  <div class="container">
    <h3>Sample 01</h3>
    <div ng-controller="myController">
      <form novalidate>
        <div>
          <input type="text" ng-model="user name" required/>
        </div>
        <div>
          <button type="submit" ng-click="update(user)">Save</button>
        </div>
      </form>
    </div>
    <pre>user = {{user | json}}</pre>
    <pre>store = {{store | json}}</pre>
    </div>
 </div>
    

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script>
    angular.module("myApp", []).controller("myController", function($scope){
  $scope.store = {};
  $scope.update = function(user){
  $scope.store = angular.copy(user);
}
})
    </script>
</body>

</html>
